html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0) 50%,
    rgba(136, 33, 194, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.Page-placement {
  display: grid;
  justify-content: center;
  direction: ltr;
  padding: 0%;
  margin: 0%;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 15px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  backdrop-filter: blur(13.3px);
  box-shadow: inset rgba(255, 255, 255, 0.205) 0px 20px 20px -12px;
}

li {
  padding: 20px;
  text-align: center;
}

li a {
  display: block;
  color: rgba(255, 255, 255, 0.26);
  padding: 16px 0;
  text-decoration: none;
  transition: color 0.3s;
  transition: transform 0.1s;
  font-family: sans-serif;
}

li a:hover:not(.active) {
  color: white;
  transform: scale(1.2);
}

.Circle-parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 100px;
}

.Circle {
  border-color: white;
  border: rgba(255, 255, 255, 0.185) solid 2px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.13);
  box-shadow: inset rgba(255, 255, 255, 0.205) 0px 20px 20px -12px;
  position: relative;
  overflow: hidden;
  transition: transform 2s, box-shadow 2s;
}

.Circle:hover {
  transform: scale(1.2);
  box-shadow: inset rgba(255, 255, 255, 0.205) 0px 20px 20px -22px;
}

.Circle-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url();
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  backface-visibility: hidden;
}

.info-page {
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  padding: 0%;
  margin: 0%;
}
h1 {
  margin-top: 0%;
  padding: auto;
  mix-blend-mode: difference;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.GeneralText {
  text-align: center;
  mix-blend-mode: difference;
  color: white;
  font-family: sans-serif;
  padding-left: 30%;
  padding-right: 30%;
}
.image {
  color: white;
}
.Space {
  height: 50px;
}
